.wrapper {
  width: 159px;
}

.card {
  width: 160px;
  height: 205px;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}

.banner {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 42px;
  background-color: var(--color-white);
  display: flex;
  align-items: center;
  padding: 4px 8px;
  border-radius: 10px;
  /* In this way we gives more priority to chip class over miui class */
  .chip {
    background-color: var(--color-black);
    color: var(--color-white);
  }
}

.titleWrapper {
  margin-top: 6px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.pills {
  font-size: 12px;
  background-color: var(--color-black);
  width: max-content;
  padding: 6px;
  border-radius: 10px;
}
