/* Default styles for the .accordionWrapper */
.accordionWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--color-white);
}

/* Default styles for the .accordBody */
.accordBody {
  margin: 20px;
  width: 1135px;
  height: 78px;
  border-radius: 10px;
  border: 2px solid #fff;
  background: var(--color-black);
}

/* Default styles for the .header */
.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: var(--color-white);
}

/* Media Query for screens with a max-width of 768px (adjust as needed) */
@media (max-width: 768px) {
  /* Adjust .accordBody width for smaller screens */
  .accordBody {
    width: 100%; /* Set the width to 100% for responsiveness */
    margin: 10px; /* Adjust margin for better spacing on smaller screens */
  }

  /* Adjust other styles as needed for smaller screens */
}
