/* Default Navbar styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #34c94b;
  padding: 10px 20px;
  color: white;
  font-weight: bold;
}

.feedbackButton {
  background-color: black;
  color: white;
}

/* Media Query for screens with a max-width of 768px (adjust as needed) */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 20px; /* Increase padding for better spacing on smaller screens */
  }

  .navbar a {
    margin-top: 10px; /* Add some space between links */
  }
}
